body{
    margin: 0;
}
.header_left img{
    height: 40px;
}
.user_avatar{
    border-radius: 50%;
    width: 45px ;
}
.header{
    padding: 15px 20px;
    display: flex ;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0,0.75);
} 
.header_left{
    display: flex;
    align-items: center;
    justify-content:space-evenly ;
}
.header_input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding:10px ;
    margin-left: 10px;
    border-radius: 999px;
}
.header_input input{
    border: none;
    background-color: #eff2f5;
    outline-width: 0;
}
.header_middle{
    display: flex;
    flex: 1;
    justify-content: center;

}
.header_options .material-icons{
    font-size: xx-large;
    color: grey;

}
.header_options:hover .material-icons{
    color: #2e81f4;
}
.header_options{
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}
.header_options.active .material-icons{
    color: #2e81f4;
}
.header_options.active {
    border-bottom: 4px solid #2e81f4;
}
.header_options:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}
.header_info{
    display: flex;
    align-items: center;
}
.header_info h5{
    margin-left: 10px;
}
.header_right .material-icons{
    color: gray;
    margin: 0 10px;
    cursor: pointer;
}
/* sidebar */
.sidebarRow{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.sidebarRow:hover{
    background-color: lightgray;
    border-radius: 10px;
}
.sidebarRow h4{
    margin-left: 20px;
    font-weight: 600;
}
.sidebarRow .material-icons{
    font-size: xx-large;
    color: #2e81f4;
}
.story{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 120px;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0,0.75);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: 100ms;
}
.story:hover{
   transform: scale(1.07); 
}
.story_avatar{
    margin: 10px;
}
.story h4{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: rgb(255, 255, 255);

}
.storyReels{
    padding: 10px 0;
    display: flex;
}
.main_body{
    display: flex;
}
body{
    background-color: #f1f2f5;
}
.feed{
    flex: 1;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar{
    padding: 25px 10px;
    flex: 0.33;
}